.newsBtn__container {
  max-width: 1480px;
  padding: 0px 20px;
  margin: 0 auto;
}

.jopa {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1b2d1f;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
}
